/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

 body {
   background: #673ab7;
 }

 .nb {
   max-width: 350px;
   margin: 30px auto;
   background: rgba(255, 255, 255, 0.2);
   padding: 20px 25px;
   border-radius: 2px;
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
   h3 {
     font-size: 13px;
     line-height: 13px;
     margin: 15px 0px 25px 0px;
     text-transform: uppercase;
     color: #fff;
   }
   form {
     margin-bottom: 15px;
     color: #fff;
     input, textarea {
       box-shadow: none !important;
       padding: 6px 5px;
       color: #fff;
       border: 0px;
       border-bottom: 1px solid rgba(255, 255, 255, 0.5);
       background: transparent;
       border-radius: 0px;
     }
     input:focus {
       background: rgba(255, 255, 255, 0.05);
     }
     ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
       color: rgba(255, 255, 255, 0.5);
     }
     .btn {
       border: 0px;
       border-radius: 25px;
       padding: 10px 20px;
       border: 1px solid rgba(255, 255, 255, 0.5);
       color: #fff;
       text-transform: uppercase;
       font-weight: 600;
       background: transparent;
       margin-top: 15px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       transition: all 0.5s ease;
       &:hover {
         background: #fff;
         color: #666;
       }
     }
   }
   a {
     text-align: center;
     color: #ffffff;
   }
   .social a {
     display: block;
     margin-bottom: 15px;
     color: #fff;
     padding: 8px 20px;
     border-radius: 25px;
     text-align: center;
     font-size: 12px;
     text-transform: uppercase;
     font-weight: 600;
     text-decoration: none;
     &:hover {
       opacity: 0.9;
     }
     &.google {
       background: #f96f4a;
     }
   }
   .center {
     text-align: center;
   }
   .or {
     color: #FFF;
   }
 }

 .center p {
   text-align: center;
 }

  /*flash*/
  .alert-error, .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }

  .alert-success, .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }
